<!DOCTYPE html>
<html lang="en">

<head>
  <title>Forsen Faceit Gamba</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    $(function () {
      (function poll() {
        setTimeout(function () {
          $.ajax({
            url: "{{url_for('send_stat')}}",
            type: "GET",
            success: function (data) {
              if (data.match_id != "{{match.match_id}}") {
                location.reload();
              }

              $("#ft_s").text(data.ft_s);
              $("#ot_s").text(data.ot_s)

            },
            dataType: "json",
            complete: poll,
            timeout: 2000
          })
        }, 5000);
      })();

      $("#register").click(async function () {
        $("#register").prop('disabled', true);
        $("#login").prop('disabled', true);
        const re = /^(?=.{4,20}$)(?!.*[_.]{2})[a-zA-Z0-9._]+$/;
        const username = $("#username").val()
        const pass_hash = await digestMessage($("#pwd").val())
        if (re.test(username)) {
          $.ajax({
            type: "POST",
            url: "{{url_for('gamba')}}",
            data: JSON.stringify({
              username: username,
              password_hash: pass_hash,
              action: "register"
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
              alert(data.response);
              location.reload();
            }
          });
        } else {
          alert("Bad username!")
        }
      });

      $("#login").click(async function () {
        $("#login").prop('disabled', true);
        $("#register").prop('disabled', true);
        const re = /^(?=.{4,20}$)(?!.*[_.]{2})[a-zA-Z0-9._]+$/;
        const username = $("#username").val()
        const pass_hash = await digestMessage($("#pwd").val())
        if (re.test(username)) {
          $.ajax({
            type: "POST",
            url: "{{url_for('gamba')}}",
            data: JSON.stringify({
              username: username,
              password_hash: pass_hash,
              action: "login"
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
              alert(data.response);
              location.reload();
            }
          });
        } else {
          alert("Bad username!")
        }
      });

      $("#logout").click(function () {
        $("#logout").prop('disabled', true);
        $.ajax({
          type: "POST",
          url: "{{url_for('gamba')}}",
          data: JSON.stringify({
            action: "logout"
          }),
          contentType: "application/json; charset=utf-8",
          success: function (data) {
            alert(data.response);
            location.reload();
          }
        });
      });

      $("#redeem").click(function () {
        $("#redeem").prop('disabled', true);
        $.ajax({
          type: "POST",
          url: "{{url_for('gamba')}}",
          data: JSON.stringify({
            action: "redeem"
          }),
          contentType: "application/json; charset=utf-8",
          success: function (data) {
            alert(data.response);
            location.reload();
          }
        });
      });

      $("#predict").click(function () {
        $.ajax({
          type: "POST",
          url: "{{url_for('gamba')}}",
          data: JSON.stringify({
            action: "predict",
            ft_pred: $("#ft_pred").val(),
            ot_pred: $("#ot_pred").val()
          }),
          contentType: "application/json; charset=utf-8",
          success: function (data) {
            alert(data.response);
            location.reload();
          }
        });
      });

    });

    async function digestMessage(message) {
      const msgUint8 = new TextEncoder().encode(message); // encode as (utf-8) Uint8Array
      const hashBuffer = await crypto.subtle.digest('SHA-256', msgUint8); // hash the message
      const hashArray = Array.from(new Uint8Array(hashBuffer)); // convert buffer to byte array
      const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join(''); // convert bytes to hex string
      return hashHex;
    } // taken from mozilla webdocs example for crypto.subtle
  </script>
</head>

<body class="bg-dark">
  <div class="container pt-3 text-center text-light">
    <h2>Match Status:</h2>
    <h2>Map: <img src={{match.map_url}} alt={{match.map_name + "image"}}> Status: {{match.status}}
      {% if (match.finished == False) %} Round: {{match.forsens_team.score + match.other_team.score + 1}} {% endif %}
    </h2>
    <h2><a href="{{url_for('mainView')}}">Click here to go back to the main site.</a></h2>
    {% if match.finished == False %}
    <table class="table table-bordered text-light text-center">
      <thead>
        <tr>
          <th>Stats</th>
          <th>Forsen's Team</th>
          <th>Opposing Team</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Win Percentage</th>
          <td>{{ft_wp + "%"}}</td>
          <td>{{ot_wp + "%"}}</td>
        </tr>
        <tr>
          <th>Average Skill Level</th>
          <td>{{match.forsens_team.level}}</td>
          <td>{{match.other_team.level}}</td>
        </tr>
        <tr>
          <th>Average ELO</th>
          <td>{{match.forsens_team.avg_elo}}</td>
          <td>{{match.other_team.avg_elo}}</td>
        </tr>
        <tr>
          <th>Estimated ELO Won/Lost If Team Wins</th>
          <td>{{match.forsens_team.eloChangeOnWin}}</td>
          <td>{{match.other_team.eloChangeOnWin}}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    <div class="row">
      <div class="col">
        <table class="table table-bordered text-light text-center">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Username</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {% for user in top_users %}
            <tr>
              <td>{{user[0]}}</td>
              <td>{{user[1]}}</td>
              <td>{{user[2]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table table-bordered text-light text-center">
          <thead>
            <tr>
              <th>
                <img src="{{url_for('static', filename='forsenE.png')}}" height=80 width=80>
              </th>
              <th>
                <img src="{{url_for('static', filename='Okayeg.png')}}" height=80 width=80>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <h4 id="ft_s">{{match.forsens_team.score}}</h4>
              </th>
              <th>
                <h4 id="ot_s">{{match.other_team.score}}</h4>
              </th>
            </tr>
          </tbody>
        </table>
        <div class="container text-left">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control mb-2 mr-sm-2" placeholder="Username" id="username">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pwd" class="mr-sm-2">Password:</label>
                <input type="password" class="form-control mb-2 mr-sm-2" placeholder="Password (Check Bottom)" id="pwd">
              </div>
            </div>
          </div>
          <div class="form-group">
            {% if current_user.is_anonymous %}
            <button type="submit" class="btn btn-dark mb-2 bg-secondary" id="register">Register</button>
            <button type="submit" class="btn btn-dark mb-2 bg-secondary" id="login">Login</button>
            {% endif %}
            {% if current_user.is_authenticated %}
            <button type="submit" class="btn btn-dark mb-2 bg-secondary" id="logout">Logout</button>
            {% endif %}
          </div>
          {% if current_user.is_authenticated %}
          <h4>You are logged in, {{current_user.username}}.</h4>
          <table class="table table-bordered text-light text-center">
            <tbody>
              <tr>
                <th>Points</th>
                <td>{{current_user.points}}</td>
              </tr>
              <tr>
                <th>Rank</th>
                <td>{{current_user.rank}}</td>
              </tr>
              <tr>
                <th>Last Won</th>
                <td>{{current_user.last_won}}</td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-dark bg-secondary" id="redeem">Redeem Points (10 per minute, 2000
            max)</button>
          {% endif %}

        </div>
      </div>
    </div>
    {% if current_user.is_authenticated %}
    <form class="mb-3">
      <h4>Predict the winner with points:</h4>
      <table class="table table-bordered text-light text-center">
        <thead>
          <tr>
            <th>
              <img src="{{url_for('static', filename='forsenE.png')}}" height=80 width=80>
            </th>
            <th>
              <img src="{{url_for('static', filename='Okayeg.png')}}" height=80 width=80>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Points" value="0" min="0"
                id="ft_pred">
            </td>
            <td>
              <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter Points" value="0" min="0"
                id="ot_pred">
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-dark bg-secondary" id="predict">Confirm Prediction (Predictions are open in rounds 2-5, and you can put points in both teams if you want.)</button>
    </form>
    {% endif %}
    <table class="table table-bordered text-light text-center">
      <thead>
        <tr>
          <th>Stats:</th>
          <th><img src="{{url_for('static', filename='forsenE.png')}}" height=80 width=80></th>
          <th><img src="{{url_for('static', filename='Okayeg.png')}}" height=80 width=80></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Total Predictions:</th>
          <td>{{ft_pred_sum}}</td>
          <td>{{ot_pred_sum}}</td>
        </tr>
        <tr>
          <th>Percentage of Total Predictions:</th>
          <td>{{ft_pred_perc}}%</td>
          <td>{{ot_pred_perc}}%</td>
        </tr>
        <tr>
          <th>Predictors:</th>
          <td>
            {% for predictor in ft_predictors %}
            {% if predictor[1] != 0 %}
            <h5>{{predictor[0]}}: {{predictor[1]}}</h5>
            {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for predictor in ot_predictors %}
            {% if predictor[1] != 0 %}
            <h5>{{predictor[0]}}: {{predictor[1]}}</h5>
            {% endif %}
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-left">
    <h4>Made by theEggfather.</h4>
    <p>On password security: Passwords are hashed client side (using sha256, you can check the js code yourself 
      by inspecting the page) before being sent to the server, where they are salted and hashed again using bcrypt before being stored. 
      Client side hashing is only to ensure that I never possess or process raw passwords, otherwise its pretty much useless 
      without server side hashing as an attacker can just submit the hash from a database leak (or wherever he got it) and gain access to the account.</p>
    <p>Although the passwords are hashed, please practice password hygiene (dont reuse passwords etc.). Human stupidity
      is endless, and mistakes can happen anywhere. This site, the painful trial and errors, and it being version 100 something on fly is a testament to that.
    </p>
    </div>
  </div>
</body>

</html>